streamlit
pandas
numpy
python-dotenv
requests
pillow
plotly
altair

# --- IA e LLMs ---
# Deixando sem versão para o pip resolver o conflito do Google automaticamente
google-generativeai
langchain-google-genai
langchain-core
crewai
openai
litellm

# --- Banco de Dados Vetorial (RAG) ---
chromadb

# --- Processamento de Arquivos e PDF ---
openpyxl
pdfplumber
pdfminer.six
pypdfium2

# --- Utilitários ---
watchdog